# dependencies
/node_modules

# build output
/dist

# generated prisma client
/src/generated

# environment
.env
.env.local

# logs
npm-debug.log*
*.log

# typescript
*.tsbuildinfo

# editor
.vscode/
.idea/

.vercel
